* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    color: #333333;
}

header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #857f56;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.logo-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-titulo img.logo {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
}

section {
    background: linear-gradient(to bottom, #375235, #5cb85c); /* De verde oscuro a verde medio */
    padding: 20px; /* algo de espacio interno */
    color: #ffffff; /* color del texto */
    margin: 20px 0; /* Margen superior e inferior */
    border-radius: 5px; /* Bordes redondeados */
}
h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin-bottom: 15px;
}

article {
    margin-bottom: 20px;
}

aside {
    background-color: #aca56c;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;    
}

.tarjeta {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 20rem;
    text-align: center;
}

.tarjeta img {
    width: 100%;
    height: auto;
}

.contenido-tarjeta {
    padding: 15px;
}

.descripcion {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333333;
}

.precio {
    font-size: .8em;
    font-weight: bold;
    color: #e74c3c;
}

#reviews {
    padding: 20px;
    background-color: #f9f9f9;
    display: grid; /* Usamos Grid solo para las reseñas */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Las reseñas se distribuyen en columnas */
    gap: 20px; /* Espacio entre las reseñas */
}

#reviews h2 {
    grid-column: 1 / -1; /* Hace que el título ocupe toda la fila */
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
}

.review {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.customer-name {
    font-weight: bold;
}

.review-text {
    margin-top: 10px;
    font-style: italic;
}

.rating {
    margin-top: 10px;
    font-size: 1.5em;
    color: #ff9900;
}

.nosotros{
    border-radius: 5px;
    background-color: #aca56c;
    padding: 15px;
}

#formulario-contacto {
    padding: 20px; /* Espaciado interno */
    margin: 20px 0; /* Margen superior e inferior */
    border-radius: 5px; /* Bordes redondeados */
}

form {
    display: flex;
    flex-direction: column; /* Disposición en columna */
    flex: 1; /* Dejar que el formulario ocupe espacio disponible */
    margin-right: 15px; /* Margen entre el formulario y la info */
}

label {
    margin-bottom: 5px; /* Margen inferior de las etiquetas */
    font-weight: bold; /* Negrita para las etiquetas */
}

input[type="email"]:hover {
    background-color: #f1f1bd; /* Color del botón al pasar el ratón */
}

textarea {
    padding: 1px; /* Espaciado interno */
    margin-bottom: 10px; /* Margen inferior */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados */
}

button {
    padding: 10px; /* Espaciado interno */
    background-color: #333; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano */
}

button:hover {
    background-color: #555; /* Color del botón al pasar el ratón */
} 

.contacto-contenedor {
    display: flex; /* Habilita el uso de flexbox */
    flex-wrap: wrap; /* Permite que los elementos se reubiquen si no caben */
    gap: 20px; /* Espacio entre los elementos */
    justify-content: space-between; /* Espaciado entre las columnas */
    margin: 20px 0; /* Margen superior e inferior */
}

.contacto-contenedor h2 {
    margin-bottom: 20px; /* Margen inferior para separar el título de los campos del formulario */
}

.contacto-formulario {
    display: flex; /* Contenedor flexible para el formulario y la info */
    flex: 1 1 50%; /* Ocupa el 50% del ancho disponible */
    flex-wrap: wrap;
    box-sizing: border-box;  
    
}

.contacto-info {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%; /* Ambos elementos ocuparán el 50% del ancho, ajustándose según el espacio */
    box-sizing: border-box; /* Para manejar el padding correctamente */
    background-color: #dee6b1; /* Fondo claro para la información */
    padding: 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    color: #333333;
    margin-top: 20px;
    
}
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
}

.footer-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-bottom: 10px; 
}

.contacto {
    flex: 1; 
    text-align: left; 
}

.mapa {
    flex: 1; 
    text-align: right; 
}

.mapa iframe {
    max-width: 100%; 
    height: auto;
}

.copyright {
    text-align: center
    
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .contacto-formulario, 
    .footer-contenedor,
    .contacto-info {
        flex: 1 1 100%; /* Ocupan el 100% del ancho */
    }
}